
.dashboard_container {
    /* min-height: 169vh; */
    height: 100%;
    max-width: 100%;
    /* border: 2px solid red; */
}
/* 
.dashboard_cards{
    width: 100%;
}
.dashboard_cards .dash_toggle_btns {
    margin: 14px 40px;
    overflow: hidden;
}

.dashboard_cards .dash_toggle_btns .dash_toggle_btn {
   background: linear-gradient(45deg, #3d59e6, #603ae9);
    padding:5px 20px;
    border: 1px solid #cac8d7;
    font-size: 14px;
    color:white;
    border-radius: 30px;
    margin: 0px 5px;
    
} */


/* @media screen and (max-width:1200px) {
    .dashboard_container {
        min-height: 87.3vh;
    }
}

@media screen and (max-width:800px) {
    .dashboard_container {
        min-height: 87.3vh;

    }
} */
@media screen and (min-width:470px) and (max-width:850px) {
    .dashboard_cards .dash_toggle_btns .dash_toggle_btn {
         padding:5px 15px;
         font-size: 14px;
     }
}
@media screen and (min-width:390px) and (max-width:470px) {
    .dashboard_cards .dash_toggle_btns {
        width: 100%;
        margin: 10px 0px 5px 0px;
    }
    .dashboard_cards .dash_toggle_btns .dash_toggle_btn {
         padding:5px 12px;
         font-size: 12px;
     }
}
@media screen and (min-width:0px) and (max-width:390px) {
    .dashboard_cards .dash_toggle_btns {
        margin: 15px 0px 2px 0px;
    }
    .dashboard_cards .dash_toggle_btns .dash_toggle_btn {
         padding:4px 10px;
     }
}


/* @media screen and (min-height:850px) {
    .dashboard_container {
        min-height: 85vh;
    }
}

@media screen and (min-height:1000px) {
    .dashboard_container {
        min-height: 90vh;
    }
} */

/* @media screen and (min-height:735px) {
    .dashboard_container {
        min-height: 81vh;
    }
} */


/* ====================================================================================== */

.mini-nav{
    width: 400px;
    height: 37px;
    border-radius: 10px;
    background: #3f454f;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 7px;
  }
  .mini-nav label{
    width: 100%;
    height: 100%;
    line-height: 34px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 10px;
    transition: all 0.4s ease;
  }
  .mini-nav .slider{
    position: absolute;
    height: 100%;
    width: 25%;
    background: #dd4545;
    left: 0;
    top: 0;
    border-radius: 10px;
    transition: all 0.4s ease;
  }
  #vendor:checked ~ .mini-nav .slider{
  left: 25%;
  }
  #invoice:checked ~ .mini-nav .slider{
  left: 50%;
  }
  #ticket:checked ~ .mini-nav .slider{
  left: 75%;
  }
  
  input[type=radio]{
    display: none;
  }
  

/* ========================================================================== */